asn1crypto==0.24.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cryptography==2.1.4
docopt==0.6.2
enum34==1.1.6
gunicorn==19.10.0
idna==2.8
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pip-tools==4.3.0
pipreqs==0.4.10
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
requests==2.22.0
SecretStorage==2.3.1
six==1.13.0
soupsieve==1.9.4
urllib3==1.25.7
virtualenv==16.7.8
yarg==0.1.9
